.customButton {
  background-color: transparent;
  min-width: 100px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  margin: auto;
}

.customButton.light {
  border: 2px solid rgb(19, 19, 19);
  color: rgb(19, 19, 19);
}

.customButton.dark {
  border: 2px solid white;
  color: white;
}

.customButton.light:hover {
  background-color: rgb(19, 19, 19);
  color: white;
  cursor: pointer;
}

.customButton.dark:hover {
  background-color: white;
  color: rgb(19, 19, 19);
  cursor: pointer;
}
