.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px;
  background-color: black;
}

.header a {
  text-decoration: none;
}

.icon {
  color: white;
}

.userContainer .icon {
  margin-right: 20px;
}

.buttonContainer button:first-child {
  margin-right: 20px;
}

.userContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}
